/* 

Colors :

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)
- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

Font :

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Size: 15px
- Weights: 200, 400, 600

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 100vh;
    width: 100vw;
    background-image: url("./desktop-design.jpg");
    background-size: contain;
    background-position: center center;
    opacity: 0.3;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
}

/* Titles and paragraph */

.text {
    text-align: center;
}

.light-title {
    font-weight: 200;
    font-size: 2.7rem;
    letter-spacing: .4px;
    line-height: .9em;
    color: hsl(234, 12%, 34%);
}

.bold-title {
    font-weight: 500;
    font-size: 2.75rem;
    letter-spacing: .5px;
    line-height: .9em;
    margin-top: 1.5rem;
    color: hsl(234, 12%, 34%);
}

.text p {
    margin-top: 2rem;
    font-size: 1.1rem;
    line-height: 1.7em;
    letter-spacing: .3px;
    color: hsl(0, 0%, 64%);
}

/* cards */

.left-col {
    display: flex;
    align-items: center;
}

.card {
    width: 300px;
    height: 280px;
    background-color: red;
}