#root {
    width: 100vw !important;
    height: 100vh !important;
    text-align: center;
}

.app {
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}