:root {
    --border-color: #d9d6d4;

    --button-bg: #eecbbb;
    --button-transparent-bg: #eecbbb00;
    --button-bg--hover: #e5bfae;
    --button-border-color: #eecbbb;
    
    --bg-dark-light: #ebe8e739;
    --text-dark: #5b544a;

    --border-radius: 10px;
}

/* GENERAL STYLING */
*,
html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    overflow-x:hidden;
    color: var(--text-dark);
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./assets/bg.png');
    background-size: cover;
}
  
.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--bg-dark-light);
    padding: 30px 30px;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    margin-right: 10px;
}

.title, .total-price {
    font-size: 2rem;
    font-weight: 400;
}

header .items-count {
    font-size: 1rem;
    font-weight: 300;
}

.products-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
}

.product-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.product-column {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px;
}

.product-img img{
    max-width: 100px;
    border-radius: var(--border-radius);
}

.product-column h3{
    font-weight: 600;
}

.product-name h2 {
    font-size: 1.1em;
    font-weight: 500;
}

.product-column:nth-of-type(1) {
    width: 10%;
}

.product-column:nth-of-type(2) {
    width: 30%;
}

.product-column:nth-of-type(3) {
    width: 10%;
}

.product-column:nth-of-type(4) {
    width: 10%;
}
.product-column:nth-of-type(5) {
    width: 10%;
}
.product-column:nth-of-type(6) {
    width: 30%;
}

.product-quantity input {
    width: 50%;
    padding: 8px 15px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.btn {
    width: 100%;
    padding: 11px 15px;
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
}

.plus,
.minus {
    width: 40%;
    padding: 11px 15px;
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
    background-color: var(--button-transparent-bg);
}

.qty-number {
    width: 20%;
    margin: 0 10px;
}

.like {
    width: 45%;
    margin-right: 20px;
    background-color: var(--button-transparent-bg);
}

.liked {
    background-color: #e5bfae;
}

.remove {
    background-color: var(--button-bg);
}

.btn:hover {
    background-color: var(--button-bg--hover);
    transition: .3s ease-in-out;
}

/* FOOTER */
footer {
    width: 100%;
    height: 10%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

.empty-msg {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-msg h1{
    font-size: 2em;
    margin-bottom: 50px;
}

.empty-msg button{
    width: 20%;
}

@media only screen and (max-width: 769px) {
    .column {
        width: 100%;
    }
}


