* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* property sets how the total width and height of an element is calculated. if for example we give a width of 100% and we add paddings the box will overflow its container */
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #edf2f8;
  font-size: 0.8rem; /* 1rem = 16px */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 50%; /* relative to parent we can also use vw in this case it's better to use 50% */
  border-radius: 10px;
  overflow: hidden;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  background-color: #fff;
  margin-left: -5rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 10px;
  overflow: hidden;
}

.left img {
  width: 100%;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.title {
  font-size: 1.5rem;
}

.text {
  font-size: 1.1rem;
  margin: 2rem 0;
}
