body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc{
    width: 10%;
    transform: scale(2);
    border: solid 1px black;
    padding: 1rem;
}

.screen{
    height: 30px;
    border: solid 1px black;
    margin-bottom: 4px;
}

.row{
    margin-bottom: 4px;
}

.btn{
    height: 30px;
    width: 30px;
}