/* GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
}

html, 
body {
  background-color: #15181c;
}

.section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

hr {
  width: 50px;
  border: 2px solid #e50914;
  margin: auto;
  margin-bottom: 5em;
}

/* HEADER */

.section.header {
  height: 90px;
  position: absolute;
  z-index: 999;
  /* background-color: cadetblue; */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.22); */
}

div.logo {
  width: 50%;
}

div.logo img{
  max-width: 200px;
}

div.menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

div.menu ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  padding: 5px 15px;
  border: 1px solid #e50914;
  border-radius: 5px;
  background-color: #e50914;
  color: #fff;
}

/* HERO */
.hero {
  height: 730px;
  background-image:
  radial-gradient(circle, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.73)), url('./src/assets/hero-banner.jpg');
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 20px;
}

.col {
  width: 50%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero h1,
.hero h4, 
.hero p {
  line-height: 1em;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: .5em;
}

.hero h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.hero p {
  margin: 2.5em 0;
}

.hero .search-bar input {
  width: 80%;
  padding: 20px;
}

.hero .search-bar button {
  width: 20%;
  padding: 20px;
  background-color: #e50914;
  border: 1.7px solid #e50914;
  color: #fff;
}

/* MOVIES SECTION */

.section.movie {
  padding: 100px 0;
}

.movie .content h1{
  color: #fff;
  font-size: 3rem;
  margin-bottom: .3em;
  text-align: center;
}

.card {
  height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.movie .row {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.movie .column {
  flex: 0 1 calc(20% - 8px)
}

.card-img {
  max-width: 200px;
  border-radius: 20px;
}

/* MOVIE PAGE */

.section .movie-page {
  min-height: 100vh;
}

.movie-page .container {
  min-height: 100%;
  color: #fff;
}

.movie-page .content {
  min-height: 100%;
  width: 100%;
  color: #fff;
}

.left-column,
.right-column {
  width: 50% !important;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}
