* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }
  
  .container {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 1rem;
  }
  
  .part_one {
    text-align: center;
    width: 50%;
    margin-bottom: 1rem;
  }
  
  .part_one h2 {
    font-weight: 200;
    font-size: 1.9rem;
    color: hsl(234, 12%, 34%);
  }
  
  .part_one p {
    color: hsl(229, 6%, 66%);
  }
  
  .part_two {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    background-color: white;
    height: 14rem;
    width: 22rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 7px;
    box-shadow: 2px 8px 20px -5px hsl(229, 6%, 66%);
  }
  
  .card p {
    margin: 1rem 0;
    color: hsl(229, 6%, 66%);
  }
  
  .card div {
    display: flex;
    justify-content: flex-end;
  }
  
  .center {
    margin: 0 1rem;
  }
  
  .red_border {
    border-top: solid 3px hsl(0, 78%, 62%);
  }
  
  .yellow_border {
    border-top: solid 3px hsl(34, 97%, 64%);
  }
  
  .blue_border {
    border-top: solid 3px hsl(212, 86%, 64%);
  }
  
  .green_border {
    border-top: solid 3px hsl(180, 62%, 55%);
  }
  