* {
    margin: 0px;
}

body {
    margin: 8px;
}

.number {
    font-family: 'Playfair Display';
    background-color: #f2994a;
    color: #fff;
    display: inline-block;
    padding: 0px 14px 5px 15px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 600;
}

.btn {
    font-family: 'Poppins';
    padding: 10px 20px;
    color: #fff;
    background-color: #2d9cdb;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.container {
    margin-top:20px;
    width: 300px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #333333;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 20px;
}
.container img {
    padding: 25px;
    background-color: #27ae60;
    border-radius: 15px;
    margin-top: 30px;
}
/* Element 1 : 
- type de police : Playfair Display 
- taille de police : 24px 
- couleur : #ffffff 
- couleur en arriere plan : #f2994a 

Element 2 : 
- type de police: Poppins 
- taille de police : 16px 
- couleur : #ffffff 
- couleur en arriere plan : #2d9cdb 

Element 3 : 
- type de police: Poppins 
- taille de police : 16px 
- couleurs : #4f4f4f #333333 #828282 #ffffff 
- couleur en arriere plan : #2d9cdb #e0e0e0 #27ae60 
- hauteur : 422px 
- largeur : 341px 
- ombre : 0px 10px 30px rgba(51, 51, 51, 0.1) */